* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {

    border: 1px solid black;
}


th {
    padding: 8px;
}


tfoot {
    background-color: rgb(234, 249, 245);
    user-select: none;

}

tfoot:hover {
    background-color: rgb(172, 234, 218);

}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent backdrop */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    min-width: 300px;
    max-width: 90%;
}

.modal input {
    margin: 4px;

}

.title-cell:hover {
    background-color: lightgrey;

}

.context-menu-icon {
    user-select: none;
    cursor: pointer;
}

#context-menu {
    position: fixed;
    width: 100px;
    box-shadow: 3px 3px 10px grey;
    z-index: 9999;
    background-color: white;
}

#context-menu>ul {
    margin: 0;
    padding: 0;
}

.context-menu-item {
    font-size: small;
    padding: 5px;
    list-style: none;
}

.context-menu-item:hover {
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;

}

.hide {
    display: none;
}