body {
    background-color: rgb(160, 151, 151);
}

* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {

    border: 1px solid black;
}

td+td::before {
    border-right: 0.5px solid black;
    padding: 4px;
}

th {
    padding: 8px;
}

/* styles.css */
.highlight {
    background-color: lightblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}